<div class="feed">
  <% posts.each do |post| %>
    <div class="post<%= post.read_by?(current_user) ? ' read' : ' unread' %><%= ' mark-unread' if current_user.unread_only && !@bookmarked_only %>" data-id="<%= post.id%>">
      <h3>
        <% if post.url %>
          <%= link_to post.title, post.url %>
        <% else %>
          <%= post.title %>
        <% end %>
      </h3>
      <div>
        <%= link_to post.feed.title, feed_path(post.feed) %>, 
        <%= "#{post.author}, " if post.author.present? %>
        <%= post.posted_at.strftime('%Y-%m-%d') %>
      </div>
      <br>
      <div><%= post.content.html_safe if post.content %></div>
      <br>
      <div>
        <% if @bookmarked_posts.include?(post) %>
          <%= button_to 'Unbookmark',
              unbookmark_post_path(post), method: 'delete' %>
        <% else %>
          <%= button_to 'Bookmark', bookmark_post_path(post), method: 'post' %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
