<div class="feed">
  <% posts.each do |post| %>
    <h3>
      <% if post.url %>
        <%= link_to post.title, post.url %>
      <% else %>
        <%= post.title %>
      <% end %>
    </h3>
    <div><%= post.author %>, <%= post.posted_at.strftime('%Y-%m-%d') %></div>
    <br>
    <div><%= post.content.html_safe %></div>
    <br>
    <div>
      <% if current_user.bookmarked?(post) %>
        <%= button_to 'Unbookmark',
            unbookmark_post_path(post), method: 'delete' %>
      <% else %>
        <%= button_to 'Bookmark', bookmark_post_path(post), method: 'post' %>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>