<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field title-field">
    <h1>
      <%= form.text_field :title, placeholder: Note::DEFAULT_TITLE %>
    </h1>
  </div>

  <div class="field">
    <%= form.text_area :content, placeholder: Note::PLACEHOLDER_TEXT %>
  </div>

  <p class="privacy-text field">
    <%= form.check_box :private %>
    <%= form.label :private, "Don't let others read this note" %>
  </p>

  <div class="actions">
    <%= form.submit 'Save Changes' %>
  </div>
<% end %>
