<p id="notice"><%= notice %></p>

<h1 class='title-field'><%= @note.title %></h1>

<% if current_user && @note.user_id == current_user.id %>
  <p class="privacy-text">
    <% if @note.private? %>
      Only you can read this note
    <% else %>
      Other people can read this note
    <% end %>
  </p>
<% end %>

<div class="note-content">
  <%=
    Redcarpet::Markdown.new(
      Redcarpet::Render::HTML, tables: true, no_styles: true
    ).render(@note.content).html_safe
  %>
</div>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
