<header>
  <div class='logo'>
    <%= link_to root_path do %>
      <!-- <img src='/images/notes/logo.png'> -->
    <% end %>
  </div>
  <div class='header-links'>
    <% if current_user %>
      <%= link_to 'reader', feeds_path %> |
      <%= link_to 'notes', notes_path %> |
      <%= link_to 'about', about_path %> |
      <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'about', about_path %> |
      <%= link_to 'login', new_user_session_path %> |
      <%= link_to 'register', new_user_registration_path %>
    <% end %>
  </div>
  <hr>
</header>
