<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Simple Reader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple RSS reader."/>
    <link rel="shortcut icon" href="/images/favicon.ico">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag '/css/feeds.css' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, class: "flash #{key}" do %>
          <% if value.is_a?(String) %>
            <%= content_tag :div, value %>
          <% else %>
            <% value.each do |subvalue| %>
              <%= content_tag :div, subvalue %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
