<!DOCTYPE html>
<html>
  <head>
    <title>TheSimpleReader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, class: "flash #{key}" do %>
        <% if value.is_a?(String) %>
          <%= content_tag :div, value %>
        <% else %>
          <% value.each do |subvalue| %>
            <%= content_tag :div, subvalue %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
